html{
	scroll-behavior: smooth;
}
.heading{
	text-align: center;
}

.mission h1{
	text-align: center;
	
}
.foot{
	background-color: #222;
}
footer {
	color: #ccc;
}
.copyright{
	background-color: #000;
}
.gototop a:hover{
	color:#fff;
}
.contact_banner{
	background-image: background-image: linear-gradient( #0492c2,#fff);
	height: 200px;
}